# Entorno virtual
venv/
env/

# Python
__pycache__/
*.pyc

# Base de datos
db.sqlite3

# Archivos de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Archivos temporales
*.swp