{% extends "base.html" %}
{% load filtros %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">👤 {{ contacto.nombre }}</h2>

    <div class="row mb-4">

        <div class="col-md-4">
            <div class="card p-3 shadow-sm border-0">
                <small class="text-muted">Saldo</small>
                <h3 class="fw-bold text-dark">
                    ${{ saldo|clp }}
                </h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow-sm border-0">
                <small class="text-success">Depósitos</small>
                <h3 class="fw-bold text-success">
                    + ${{ ingresos|clp }}
                </h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow-sm border-0">
                <small class="text-danger">Envíos</small>
                <h3 class="fw-bold text-danger">
                    − ${{ gastos|clp }}
                </h3>
            </div>
        </div>

    </div>

    <div class="mb-4">
        <a href="/" class="btn btn-outline-dark btn-sm">← Volver</a>
    </div>

    <div class="row">
        {% for t in transacciones %}
        <div class="col-md-4 mb-4">

            <div class="card shadow-sm p-3 h-100">
                <small class="text-muted">{{ contacto.nombre }}</small>

                <h3 class="fw-bold mt-1">
                    ${{ t.monto|clp }}
                </h3>

                {% if t.tipo == "ingreso" %}
                    <span class="text-success small">+ Depósito</span>
                {% else %}
                    <span class="text-danger small">− Envío</span>
                {% endif %}
            </div>

        </div>
        {% empty %}
            <p>No hay movimientos para este contacto.</p>
        {% endfor %}
    </div>

</div>

{% endblock %}