{% extends "base.html" %}
{% load filtros %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">💳 Fing Wallet</h2>

    <!-- 💸 RESUMEN -->
    <div class="row mb-4">

        <!-- SALDO -->
        <div class="col-md-4">
            <div class="card p-3 shadow-sm border-0">
                <small class="text-muted">Saldo</small>
                <h3 class="fw-bold text-dark">
                    ${{ saldo|clp }}
                </h3>
            </div>
        </div>

        <!-- INGRESOS -->
        <div class="col-md-4">
            <div class="card p-3 shadow-sm border-0">
                <small class="text-success">Ingresos</small>
                <h3 class="fw-bold text-success">
                    + ${{ ingresos|clp }}
                </h3>
            </div>
        </div>

        <!-- GASTOS -->
        <div class="col-md-4">
            <div class="card p-3 shadow-sm border-0">
                <small class="text-danger">Gastos</small>
                <h3 class="fw-bold text-danger">
                    − ${{ gastos|clp }}
                </h3>
            </div>
        </div>

    </div>

    <!-- 🔍 BUSCADOR -->
    <form method="get" class="d-flex mb-3">
        <input type="text" name="q" class="form-control me-2" placeholder="Buscar usuario...">
        <button class="btn btn-primary">Buscar</button>
    </form>

    <!-- BOTONES -->
    <div class="mb-4">
        <a href="/crear/" class="btn btn-dark btn-sm">+ Transacción</a>
        <a href="/crear-usuario/" class="btn btn-outline-dark btn-sm">+ Usuario</a>
    </div>

    <!-- 📄 TRANSACCIONES -->
    <div class="row">
        {% for t in transacciones %}
        <div class="col-md-4 mb-4">

            <div class="card shadow-sm p-3 position-relative h-100">

                <div class="position-absolute top-0 end-0 m-2 d-flex gap-2">
                    <a href="/editar/{{ t.id }}/" class="text-secondary">✏️</a>
                    <a href="/eliminar/{{ t.id }}/" class="text-danger">🗑️</a>
                </div>

                <small class="text-muted">{{ t.usuario.nombre }}</small>

                <h3 class="fw-bold mt-1">
                    ${{ t.monto|clp }}
                </h3>

                {% if t.tipo == "ingreso" %}
                    <span class="text-success small">+ Ingreso</span>
                {% else %}
                    <span class="text-danger small">− Gasto</span>
                {% endif %}

            </div>

        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}