{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">💳 Fing Wallet</h2>

    <!-- 💸 RESUMEN -->
    <div class="row mb-4">

        <div class="col-md-4">
            <div class="card p-3 shadow-sm">
                <small>Saldo total</small>
                <h3>${{ saldo|floatformat:0 }}</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow-sm">
                <small>Ingresos</small>
                <h4 class="text-success">${{ ingresos|floatformat:0 }}</h4>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 shadow-sm">
                <small>Gastos</small>
                <h4 class="text-danger">${{ gastos|floatformat:0 }}</h4>
            </div>
        </div>

    </div>

    <!-- 🔍 BUSCADOR -->
    <form method="get" class="d-flex mb-3">
        <input type="text" name="q" class="form-control me-2" placeholder="Buscar usuario...">
        <button class="btn btn-primary">Buscar</button>
    </form>

    <!-- BOTONES -->
    <div class="mb-4">
        <a href="/crear/" class="btn btn-success">+ Nueva Transacción</a>
        <a href="/crear-usuario/" class="btn btn-primary">+ Nuevo Usuario</a>
    </div>

    <!-- 📄 LISTADO -->
    <div class="row">
        {% for t in transacciones %}
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm p-3">

                <h5>{{ t.usuario.nombre }}</h5>
                <p class="mb-2">${{ t.monto|floatformat:0 }}</p>

                {% if t.tipo == "ingreso" %}
                    <div class="badge bg-success w-100 mb-2">Ingreso</div>
                {% else %}
                    <div class="badge bg-danger w-100 mb-2">Gasto</div>
                {% endif %}

                <a href="/editar/{{ t.id }}/" class="btn btn-outline-warning btn-sm mb-1">Editar</a>
                <a href="/eliminar/{{ t.id }}/" class="btn btn-outline-danger btn-sm">Eliminar</a>

            </div>
        </div>
        {% empty %}
            <p>No hay transacciones</p>
        {% endfor %}
    </div>

</div>

{% endblock %}